/* your styles go here */

@media (max-width: 960px) {
  .smaller-title {
    font-size: 1.4em;
  }
  .responsive-center-text {
    text-align: justify!important;
  }
  .project-link {
    text-align: center;
  } 
}
.techno:after {
    content: " ";
    display: block;
    align-items: center;
    width: 100px;
    height: 1px;
    margin: 20px 0 20px;
    background: #555;
  }

  .img-project {
    max-width: 100%;
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")!important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")!important;
  }

  #portfolio a:hover {
    text-decoration: none;
  }

  #portfolio .underline:hover {
    text-decoration: underline black!important;
  }