/* your styles go here */

/* RESPONSIVE */
@media (max-width: 960px) {
  .smaller-title {
    font-size: 1.4em;
  }

  .responsive-center-text {
    text-align: justify!important;
  }

  .project-link {
    text-align: center;
  }

  .box h6 {
    text-align: center;
  }
  
  .project-section h1 {
    font-size: 1.6rem;
  }

  .project-section h4 {
    font-size: 1.1rem;
  }
}

.subtitle {
  font-size: 0.8rem;
}
.techno:after {
    content: " ";
    display: block;
    align-items: center;
    width: 100px;
    height: 1px;
    margin: 20px 0 20px;
    background: #555;
  }

  .img-project {
    max-width: 100%;
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")!important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")!important;
  }

  #portfolio a:hover {
    text-decoration: none;
  }

  #portfolio .underline:hover {
    text-decoration: underline black!important;
  }

  .box h6 {
    font-size: 0.7rem;
  }

  .xp h5 {
    font-size: 1rem;
    margin-bottom: 0!important;
  }
  .xp h6 {
    font-size: 0.8rem;
  }

  .text-page h4 {
    margin-bottom: 2rem;
  }

  .project-section {
    padding-top: 30px;
  }

  .typo-choice {
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
  }

  .thalisman-colors {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 1px solid;
  }

   #thalisman-color-blue {
    background-color: #3C9D9B;
  }

  #thalisman-color-grey {
    background-color: #EFEFEF;
  }

  #thalisman-color-black {
    background-color: #000000;
  }

  .badge-color {
    background-color: #469B9B;
    color: white;
  }

  #cv:hover {
    color: #333;
  }
  /* h3, h4, h5 {
    color: #00635D;
  } */
